@import '~amannn-caritas-online-beratung-frontend/defaults';

// FONTS
$font-family-sans-serif: 'Helvetica Neue', Helvetica, sans-serif;
$font-family-regular: 'Helvetica Neue', Helvetica, sans-serif;
$font-family-light: 'Helvetica Neue', Helvetica, sans-serif;
$font-family-medium: 'Helvetica Neue', Helvetica, sans-serif;
$font-family-bold: 'Helvetica Neue', Helvetica, sans-serif;

$font-familiy-regular-italic: 'Helvetica Neue', Helvetica, sans-serif;

$font-family-slab-regular: 'Helvetica Neue', Helvetica, sans-serif;
$font-family-slab-thin: 'Helvetica Neue', Helvetica, sans-serif;
$font-family-slab-light: 'Helvetica Neue', Helvetica, sans-serif;
$font-family-slab-bold: 'Helvetica Neue', Helvetica, sans-serif;

$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Optionally include web-fonts
// @mixin setup-fonts {
//   @font-face { ... }
// }

// COLORS
$primary: #462672;
